.Intro-Description {
    width: 100%;
    color: white;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    padding-right: 60px;
    line-height: 27.5px;
    padding-bottom: 50px;
}

.Description-Border {
    border-left: 3px solid #FE5139;
    padding-left: 12.5px;
}

.Intro-Button {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.Button-Play {
    width: 120px;
    height: 42.5px;

    background: #FE5139;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: #FFFFFF;
}