.Logo {
    position: absolute;
    left: 20px;
    top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: white;
    text-align: left;
}

.Logo h1 {
    font-size: 30px;
}

.HackSC-Logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2px;
    height: 20px;

    font-size: 10px;
}

.HackSC-Logo img {
    width: 80px;
    height: 30px;
}